/* h1{
  font-family: "Brush Script MT", cursive;
}

b{
  font-family: "Brush Script MT", cursive;
}

button{
  font-family: "Brush Script MT", cursive;
}

option,select{
  font-family: "Brush Script MT", cursive;
}

label,input{
  font-family: "Brush Script MT", cursive;
}

th,td{
  font-family: "Brush Script MT", cursive;
} */
